bin/
*~
*.rej
*.bak
*.patch
javacore.*
heapdump.*
core.*
Snap.*
bin-resources/
binext/
binprocessors/
antbin/

# maven
/*/target/
/target/

# IntelliJ IDEA
.idea/
*.iml

# Symlink to ../org.eclipse.jdt.compiler.apt/src
org.eclipse.jdt.core/apt
