# Copyright (c) 2021 Contributors.
# All rights reserved.
# This program and the accompanying materials are made available
# under the terms of the Eclipse Public License v 2.0
# which accompanies this distribution, and is available at
# https://www.eclipse.org/org/documents/epl-2.0/EPL-2.0.txt

# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Deploy AspectJ JDT Core

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
          # distributionManagement/repository/id field in pom.xml
          server-id: github
          # settings.xml location
          settings-path: ${{ github.workspace }}

      - name: Publish to GitHub Packages
        # TODO: Settle issue with ISP concerning direct HTTP write access to WebDAV on aspects.dev without mounting
        # share first, then migrate deployment action
        run: |
          echo "Deployment skipped! TODO: Migrate from GitHub Packages to OSSRH repository."
#        run: mvn -B deploy -s $GITHUB_WORKSPACE/settings.xml --file org.eclipse.jdt.core/pom.xml
#        env:
#          GITHUB_TOKEN: ${{ secrets.DEPLOY_TOKEN }}
